mixin toolbar()
  #toolbar
    block
    .float-right
      if _user === undefined
        .dropdown
          button
            a(href=`${env.BASE_URL}/auth/login`) Log in
        .dropdown
          button
            a(href=`${env.BASE_URL}/auth/register`) Register
      else
        .dropdown
          button #{_user.first_name} #{_user.last_name}&nbsp; #[i.fas.fa-bars]
          .dropdown-menu
            a.menu-option(href=`${env.BASE_URL}/assignments`) My assignments
            a.menu-option(href=`${env.BASE_URL}/courses`) My courses
            hr
            a.menu-option(href=`${env.BASE_URL}/settings`) Settings
            hr
            a.menu-option(href=`${env.BASE_URL}/auth/logout`) Log out

#header
  a(href='/')
    img.logo-img(src=`${env.BASE_URL}/img/logo.png` width='50' type='image/png' alt='Willow logo')
  h1 Willow
.banner(class=`banner-${_bannerType}` style={display: _bannerId ? 'block': 'none'})
  button.btn-close.hidden(onclick='this.parentNode.style.display = "none"')
    i.fas.fa-times
  p= _bannerText ? _bannerText : _bannerId
