doctype html
html(lang='en')
  head
    title My Assignments | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Assignments
      for assignment in assignments
        div
          h3
            //- TODO: add a method to select different versions in UI
            a(href='/?course=' + assignment.course_name + '&assignment=' + assignment.name + '&version=original') [#{assignment.display_name}] #{assignment.name}
            if assignment.due_date
              p Due #{assignment.due_date.toLocaleString()}
            else
              p No due date yet
          if assignment.submitted_at
            - const submission_time = assignment.submitted_at.toLocaleString().split(', ');
            p Submitted on #{submission_time[0]} at #{submission_time[1]}
            if assignment.correct
              p Tree submitted is correct
            else
              p Tree submitted is incorrect
          else
            p No submission yet
    include /global/footer.pug
