doctype html
html(lang='en')
  head
    title My Assignments | Willow
    include /global/head.pug
    link(href=`${env.BASE_URL}/css/assignments.css` rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Assignments
      .assignments
        for assignment in assignments
          .assignment
            .card
              h3.assignment-name= assignment.name
              p.assignment-course= assignment.display_name
              .btn-container
                a.btn.btn-primary(href=`${env.BASE_URL}/?course=${encodeURIComponent(assignment.course_name)}&assignment=${encodeURIComponent(assignment.name)}&version=original`) Open original tree
                a.btn.btn-primary(href=`${env.BASE_URL}/?course=${encodeURIComponent(assignment.course_name)}&assignment=${encodeURIComponent(assignment.name)}&version=latest`) Open latest submission
              if assignment.due_date
                p.assignment-due-date #[i.fas.fa-calendar] Due #{assignment.due_date.toLocaleString()}
              else
                p.assignment-due-date #[i.fas.fa-calendar] No due date yet
              if assignment.submitted_at
                if assignment.correct
                  p.assignment-status(title=`Submitted on ${assignment.submitted_at.toLocaleString()}`) #[i.fas.fa-check] Submission correct
                else
                  p.assignment-status(title=`Submitted on ${assignment.submitted_at.toLocaleString()}`) #[i.fas.fa-times] Submission incorrect
              else
                p.assignment-status #[i.fas.fa-question] No submission
    include /global/footer.pug
