doctype html
html(lang='en')
  head
    title My Assignments | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h2 Assignments
      for assignment in assignments
        div
          if assignment.due_date
            h3 [#{assignment.course_name}] #{assignment.name} -- Due #{assignment.due_date.toLocaleString()}
          else
            h3 [#{assignment.course_name}] #{assignment.name} -- No due date yet
          if assignment.submitted_at
            - const submission_time = assignment.submitted_at.toLocaleString().split(', ');
            p Submitted on #{submission_time[0]} at #{submission_time[1]}
            if assignment.correct
              p Tree submitted is correct
            else
              p Tree submitted is incorrect
          else
            p No submission yet
    include /global/footer.pug
