doctype html
html(lang='en')
  head
    title My Courses | Willow
    include /global/head.pug
    link(href='/css/courses.css' rel='stylesheet' type='text/css')
    link(href='/css/colors.css' rel='stylesheet' type='text/css')
    link(href='/css/themes/dark.css' rel='stylesheet' type='text/css')
  body
    include /global/header.pug
    +toolbar()
    .container.center
      h1 Courses
      if Object.keys(coursesAsInstructor).length > 0
        .course-group
          h2 As Instructor:
          .courses
            for course in coursesAsInstructor
              .course
                .card
                  h3= course.display_name
                  .btn-container
                    a.btn.btn-primary(href=`/courses/${encodeURIComponent(course.name)}/roster`) #[i.fas.fa-users] Roster
                    a.btn.btn-primary(href=`/courses/${encodeURIComponent(course.name)}/assignments`) #[i.fas.fa-tasks] Assignments
      if Object.keys(coursesAsStudent).length > 0
        .course-group
          h2 As Student:
          .courses
            for course in coursesAsStudent
              .course
                .card
                  h3= course.display_name
                  .btn-container
                    a.btn.btn-primary(href=`/courses/${encodeURIComponent(course.name)}/assignments`) #[i.fas.fa-tasks] Assignments
      if Object.keys(coursesAsInstructor).length === 0 && Object.keys(coursesAsStudent).length === 0
        p.subtitle You are not in any courses. Contact the instructor for your course if you believe this is a mistake.
    include /global/footer.pug
