-
  const _bannerText = {
    'already_logged_in': 'You cannot perform this action while logged in.',
    'assigned_invalid_tree': 'The tree you assigned was invalid. Please recreate the tree and try again.',
    'assignment_already_exists': 'An assignment with this name already exists. Please choose another name and try again.',
    'assignment_created': 'Your assignment has been created.',
    'does_not_match_assignment': 'The tree you submitted did not match the original assignment. Please check the original version and try again.',
    'not_logged_in': 'You must be logged in to perform this action.',
    'submission_successful': 'Your submission was successful. Please view your assignments to see the status.',
  }[_bannerId];

doctype html
html(lang='en')
  head
    title Untitled | Willow
    include /global/head.pug
    link(href='/css/index.css' rel='stylesheet' type='text/css')
    script(type='text/javascript').
      const assignmentsByCourse = !{interpolate(assignmentsByCourse)} ?? {};
      const assignment = !{interpolate(assignment)} ?? undefined;
  body
    include /global/header.pug
    #content
      +toolbar()
        .dropdown
          button File
          .dropdown-menu
            a.menu-option(href=`${env.BASE_URL}` target='_blank') New
            hr
            button.menu-option(@click='openFile') Open
            .hidden
              input#open-file(type='file' @change='loadFile($event)')
            hr
            button.menu-option(@click='saveFile') Save
            button.menu-option(@click='saveFileAs') Save as...
            if _user !== undefined
              hr
              if Object.keys(coursesAsInstructor).length > 0
                button.menu-option(onclick='toolbar.showModal("create-modal")') Create assignment
              button.menu-option(onclick='toolbar.showModal("submit-modal")') Submit assignment
            hr
            button.menu-option(onclick='window.close()') Quit
        .dropdown
          button Edit
          .dropdown-menu
            button.menu-option(@click='undo') Undo
            button.menu-option(@click='redo') Redo
            hr
            button.menu-option(@click='toggleComment') Toggle comment
            button.menu-option(@click='togglePremise') Toggle premise
            hr
            button.menu-option(@click='addStatementBefore') Add statement before
            button.menu-option(@click='addStatementAfter') Add statement after
            button.menu-option(@click='createBranch') Create branch
            hr
            button.menu-option(@click='deleteStatement') Delete statement
            button.menu-option(@click='deleteBranch') Delete branch
        .dropdown
          button Navigate
          .dropdown-menu
            button.menu-option(@click='moveUp') Move up
            button.menu-option(@click='moveDown') Move down
            button.menu-option(@click='moveUpBranch') Move up branch
            button.menu-option(@click='moveDownBranch') Move down branch
            button.menu-option(@click='moveUpTree') Move up tree
            button.menu-option(@click='moveDownTree') Move down tree
            hr
            button.menu-option(@click='toggleBranchExpansion') Toggle branch expansion
            button.menu-option(@click='collapseAllBranches') Collapse all branches
            button.menu-option(@click='expandAllBranches') Expand all branches
            button.menu-option(@click='collapseTerminatedBranches') Collapse terminated branches
        .dropdown
          button Evaluate
          .dropdown-menu
            button.menu-option(onclick='toolbar.showModal("options-modal")') Options
            hr
            button.menu-option(@click='checkStatement') Check statement
            button.menu-option(@click='checkTree') Check tree
        .dropdown
          button Settings
          .dropdown-menu
            button.menu-option(onclick='toolbar.showModal("shortcuts-modal")') Shortcuts
            button.menu-option(onclick='toolbar.showModal("substitutions-modal")') Substitutions
        .dropdown
          button Help
          .dropdown-menu
            a.menu-option(href='https://github.com/Bram-Hub/Willow/blob/master/userguide.md' target='_blank') User guide
            hr
            button.menu-option(onclick='toolbar.showModal("about-modal")') About
            hr
            a.menu-option(href='https://github.com/Bram-Hub/Willow/issues' target='_blank') Report a bug
            button.menu-option(@click='toggleDeveloperMode') Toggle developer mode
      .container.center
        h2 {{ name }}
        .truth-tree.left
          p(v-if='$store.state.developerMode') checkRepresentation: {{ $store.state.tree.checkRepresentation() }}, leaves: {{ [...$store.state.tree.leaves] }}, treeOptions: {{ JSON.stringify($store.state.tree.options) }}
          truth-tree-branch(:head='$store.state.tree.root' ref='rootBranch')
      #status-bar(v-if='selectedNode !== null')
        i(:class="getNodeIconClasses(selectedNode)")
        |  {{ selectedNode.getFeedback() }}
      #options-modal.modal.card(style={display: 'none'})
        +closeButton()
        h2.center Options
        table.dual-table
          tbody
            tr
              td Require contradictions to use atomic statements.
              td
                input#requireAtomicContradiction(type='checkbox' v-model='tree.options.requireAtomicContradiction' :disabled='tree.options.lockedOptions')
            tr
              td Require all branches be terminated.
              td
                input#requireAllBranchesTerminated(type='checkbox' v-model='tree.options.requireAllBranchesTerminated' :disabled='tree.options.lockedOptions')
            tr
              td Lock the current options and premises.
              td
                input#lockedOptions(type='checkbox' v-model='tree.options.lockedOptions')
      #shortcuts-modal.modal.card(style={display: 'none'})
        +closeButton()
        h2.center Shortcuts
        table.dual-table
          thead
            tr
              th Action
              th Shortcut
          tbody
            tr
              td Open file
              td
                key-recorder(@on-pressed='openFile' event='open-file' :default='["Control", "o"]')
            tr
              td Save file
              td
                key-recorder(@on-pressed='saveFile' event='save-file' :default='["Control", "s"]')
            tr
              td Save file as...
              td
                key-recorder(@on-pressed='saveFileAs' event='save-file-as' :default='["Control", "Shift", "S"]')
            tr
              td Undo
              td
                key-recorder(@on-pressed='undo' event='undo' :default='["Control", "z"]')
            tr
              td Redo
              td
                key-recorder(@on-pressed='redo' event='redo' :default='["Control", "y"]')
            tr
              td Toggle comment
              td
                key-recorder(@on-pressed='toggleComment' event='toggle-comment' :default='["Control", "/"]')
            tr
              td Toggle premise
              td
                key-recorder(@on-pressed='togglePremise' event='toggle-premise' :default='["Control", "p"]')
            tr
              td Add statement before
              td
                key-recorder(@on-pressed='addStatementBefore' event='add-statement-before' :default='["Control", "b"]')
            tr
              td Add statement after
              td
                key-recorder(@on-pressed='addStatementAfter' event='add-statement-after' :default='["Control", "a"]')
            tr
              td Create branch
              td
                key-recorder(@on-pressed='createBranch' event='create-branch' :default='["Control", "Shift", "B"]')
            tr
              td Delete statement
              td
                key-recorder(@on-pressed='deleteStatement' event='delete-statement' :default='["Control", "d"]')
            tr
              td Delete branch
              td
                key-recorder(@on-pressed='deleteBranch' event='delete-branch' :default='["Control", "Shift", "D"]')
            tr
              td Move up
              td
                key-recorder(@on-pressed='moveUp' event='move-up' :default='["Up"]')
            tr
              td Move down
              td
                key-recorder(@on-pressed='moveDown' event='move-down' :default='["Down"]')
            tr
              td Move up branch
              td
                key-recorder(@on-pressed='moveUpBranch' event='move-up-branch' :default='["Control", "Up"]')
            tr
              td Move down branch
              td
                key-recorder(@on-pressed='moveDownBranch' event='move-down-branch' :default='["Control", "Down"]')
            tr
              td Move up tree
              td
                key-recorder(@on-pressed='moveUpTree' event='move-up-tree' :default='["Home"]')
            tr
              td Move down tree
              td
                key-recorder(@on-pressed='moveDownTree' event='move-down-tree' :default='["End"]')
            tr
              td Toggle branch expansion
              td
                key-recorder(@on-pressed='toggleBranchExpansion' event='toggle-branch-expansion')
            tr
              td Collapse all branches
              td
                key-recorder(@on-pressed='collapseAllBranches' event='collapse-all-branches' :default='["Control", "k", "0"]')
            tr
              td Expand all branches
              td
                key-recorder(@on-pressed='expandAllBranches' event='expand-all-branches' :default='["Control", "k", "j"]')
            tr
              td Collapse terminated branches
              td
                key-recorder(@on-pressed='collapseTerminatedBranches' event='collapse-terminated-branches')
            tr
              td Check statement
              td
                key-recorder(@on-pressed='checkStatement' event='check-statement' :default='["Control", ","]')
            tr
              td Check tree
              td
                key-recorder(@on-pressed='checkTree' event='check-tree' :default='["Control", "."]')
      #substitutions-modal.modal.card(style={display: 'none'})
        +closeButton()
        h2.center Substitutions
        table.dual-table
          thead
            tr
              th Symbol
              th Text
          tbody
            tr
              td ¬
              td
                substitution-recorder(symbol='¬' default='~')
            tr
              td ∨
              td
                substitution-recorder(symbol=' ∨ ' default='|')
            tr
              td ∧
              td
                substitution-recorder(symbol=' ∧ ' default='&')
            tr
              td →
              td
                substitution-recorder(symbol=' → ' default='$')
            tr
              td ↔
              td
                substitution-recorder(symbol=' ↔ ' default='%')
            tr
              td ∀
              td
                substitution-recorder(symbol='∀' default='@')
            tr
              td ∃
              td
                substitution-recorder(symbol='∃' default='/')
            tr 
              td ⊤
              td 
                substitution-recorder(symbol='⊤' default='+')
            tr 
              td ⊥
              td 
                substitution-recorder(symbol='⊥' default='-')
            tr
              td ◯
              td
                substitution-recorder(symbol='◯' default=';')
            tr
              td ×
              td
                substitution-recorder(symbol='×' default="'")
      #about-modal.modal.card(style={display: 'none'})
        +closeButton()
        .row
          img.logo-img(src=`${env.BASE_URL}/img/logo.png` width='100')
          div
            h2 About Willow
            p Commit #{commit}
      if _user !== undefined
        #submit-modal.modal.card(style={display: 'none'})
          +closeButton()
          .container.center
            h2 Submit Assignment
            form.large-form#submit-form(method='POST' action='/submit')
              input(name='_csrf' type='hidden' value=csrfToken)
              //- TODO: serialize the tree on form submit instead of using v-bind
              input(name='tree' type='hidden' :value='$store.state.tree.serialize()')
              .field.field-required
                .left
                  label(for='field-course-name') Course
                select#field-course-name(name='course_name' v-model='courseName' required)
                  option(v-for='course in Object.keys(assignmentsByCourse)' :value='course' :key='course') {{ assignmentsByCourse[course].displayName }}
              .field.field-required
                .left
                  label(for='field-assignment-name') Assignment
                select#field-assignment-name(name='assignment_name' v-model='assignmentName' required)
                  template(v-if="courseName in assignmentsByCourse")
                    option(v-for='assignmentName in assignmentsByCourse[courseName].assignments' :value='assignmentName') {{ assignmentName }}
                  option(v-else value='' disabled selected hidden)
              input.btn.btn-primary(type='submit' value='Submit')
        #create-modal.modal.card(style={display: 'none'})
          +closeButton()
          .container.center
            h2 Create Assignment
            span The assignment will require students to complete this tree.
            form.large-form#create-form(method='POST' action='/create')
              input(name='_csrf' type='hidden' value=csrfToken)
              //- TODO: serialize the tree on form submit instead of using v-bind
              input(name='tree' type='hidden' :value='$store.state.tree.serialize()')
              .field.field-required
                .left
                  label(for='field-course-name') Course
                select#field-course-name(name='course_name' required)
                  option(value='' disabled hidden selected)
                  for course in coursesAsInstructor
                    option(value=course.name)= course.display_name
              .field.field-required
                .left
                  label(for='field-assignment-name') Assignment
                input#field-assignment-name(name='assignment_name' type='text' required)
              .field
                .left
                  label(for='field-due-date') Due Date
                input#field-due-date(name='due_date' type='datetime-local')
              input.btn.btn-primary(type='submit' value='Create')
    script(src=`${env.BASE_URL}/js/index.js` type='text/javascript')
    include /global/footer.pug
